.containerLabel {
  font-weight: bold;
}

.taskContainer {
  background-color: lightgray;
  padding: 1rem 0.5rem;
  width: 250px;
  box-sizing: content-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 8px;
  min-height: 600px;
  position: relative;
}

.taskContainer::before {
  content: " ";
  position: absolute;
  top: 0;
  padding: 0 0.5rem;
  width: 250px;
  box-sizing: content-box;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top: 8px solid transparent;
}

.taskContainer.TODO::before {
  border-color: salmon;
}
.taskContainer.DONE::before {
  border-color: seagreen;
}
.taskContainer.IN_PROGRESS::before {
  border-color: steelblue;
}
