.sideBar {
  grid-area: sideBar;
  background-color: #e6e6e6;
  display: flex;
  flex-direction: column;
}

.sideBar-item {
  padding: 16px;
  width: 100%;
}

.sideBar-item:hover {
  background-color: rgba(0, 0, 255, 0.3);
  border-right: 2px solid blue;
  cursor: pointer;
}

.sideBar-item.bottom {
  margin-top: auto;
}
